html,
body {
  background-color: #f2c6b7;

  padding: 0;
  margin: 0;
  font-family: Courier, sans-serif;
}

body {
  border-top: 1rem solid fuchsia;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
