.container {
  padding: 0 0.5rem;
}

.main {
  padding: 5rem;
}

.copy {
  font-size: 1.25rem;
  line-height: 1.6;
}

.accent {
  font-weight: bold;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
